on:
  pull_request:
    branches:
      - main

name: pull_request_test
jobs:
  pull_request_test:
    name: pull_request_test
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: 12

      - name: NPM Install
        run: npm install

      - name: Pretty
        run: npm run-script prettier-check
